body {
  background-color: #e6e7e8;
  font-family: Arial;
}
#dropHere {
    width:400px;
    height: 400px;
    border: dotted 1px black;
    position: relative;
}
#feedback {
  width:500px;
  height:100px;
  background-color: yellow;
}
/*.dragImg {
  background-color: red;
}*/
#innerDiv {
  background-color: #ff0000;
}
#someBox {
  background-color: green;
  background: url(../images/blob.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  /*background-size: cover;*/
  /*background-size: cover;
  -webkit-background-origin:border;*/
  /*background-position: -120 50;
  height: 300px;
  width: 600px;*/
  border: dotted 1px blue;
}
.container { 
    width: 418px; 
    height: 240px; 
    overflow: hidden; 
    border: dotted 1px blue;
}
.container img { 
    width: 100%;
}
#tabs {
  width: 248px;
}
.ui-helper-reset {
  font-size: 0.85em;
}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
  padding: .2em .7em;
  font-size: .8em;
}
.ui-tabs .ui-tabs-panel {
  padding: 4px;
  background: #ffffff;
}

#thumb {
  /*border: dotted 1px blue;*/
  padding-right: 5px;
  padding-top: 5px;
  /*background-color: yellow;*/
  display:inline-block;
}
.panel {
  height: 500px;
  overflow: auto;
}
/*#main-content {
  margin-top: 106px;
  background-color: yellow;
  width: 100%;
}*/
#wrap {
  width:1022px;
  margin:0 auto;
  /*background:#f00;*/
  height: 950px;
}
#sidebar {
  display: inline-block;
  width:257px;
  /*float:left;
  width:248px;
  display: inline-block;*/
  /*float:right;
  width:248px;*/
  /*background-color:#00f;*/
  /*display: inline-block;
  margin-right:22px;*/
  position: relative;
  vertical-align: top;
}
.textEdit {
  position: relative;
  background-color: #fff;
  width: 241px;
  padding: 7px;
  margin-bottom: 15px;
}
.textEditRow{
  /*margin-top: 11px;*/
  border: 0px;
  padding: 0px;
  margin-bottom: 10px;
}
.textEditRowColors{
  margin-top: 11px;
  border: 0px;
  padding: 0px;
}
.text_edit_btn{
  /*margin-top: 21px;*/
  border: 0px;
  padding: 0px;
}
.color_picker{
  top: -12px;
}
#canvasBox {
  background-color: #00ffff;
  display: inline-block;
  position: relative;
  vertical-align: top;
  margin-left: 10px;
  /*border: 1px solid black;*/
}
#c {
  border: 1px solid #aaaaaa;
  /*background-color: #efe;*/
  /*display: inline-block;*/
  /*display: inline-block;
  position: relative;*/
  /*background-color: #fff;
  float:right;
  position: relative;
  margin-left: 270px;*/
  /*float:left;
  position: relative;*/
  /*margin-left: 270px;*/
}
#textArea {
  position: relative
  /*background-color: #9999ff;*/
  width: 100%;
}
#main {
  float:right;
  width:750px;
  height:950px;
  /*min-width:750px;
  min-height:950px;*/
  display: inline-block;
  position: relative;
  background: url("../layouts/layout1.gif") #d5d5d5;
  overflow: hidden;
}

/*#nav {
  position: fixed;
  width: 100%;
  margin-top: -106px;
  display: block;
  clear: both;
}*/
#nav-top-full-width {
  height: 46px;
  background-color: #808284;
}
.nav-top {
  margin:0 auto;
  height: 46px;
  width:1022px;
  background-color: #808284;
}
#nav-bottom-full-width {
  height: 50px;
  /*background-color: #e6e7e8;*/
  /*background-color: #0000ff;*/
  /*border-bottom: 1px solid #939597;*/
}
.nav-bottom {
  margin:0 auto;
  height: 60px;
  width:1022px;
  /*background-color: #e6e7e8;*/
  /*background-color: #0fff00;*/
  /*background: url("../images/resize-handle.gif");*/
}
#absPos {
  position: absolute;
  /*background-color: #005500;*/
}
.ui-tooltip-content {
  font-size: 14px;

}
.ui-tooltip {
  border: none;
}
.dragImage {
  position: relative; 
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;   

  cursor: hand; 
  cursor: pointer;  
  background-color:blue;
}

.resizeImage {
  width: 100px;   
  /*border: 1px solid #00bb00;   */

}
.resizeImage img {
    width: 100%;
    height: 100%;  
}

/*input#move_to_top_button {
    background: url("../images/button.png") no-repeat scroll 0 0
}*/
#mini {
  font-size: .6em;
}
#button-group {
  height:32px;
  margin-right: 15px;
  /*height:32px;*/
  /*background-color: #d5d5ff;*/
  vertical-align: none;
}
.page_control {
  margin: 0 3 0 3;
}
#styled_select {
  /*background-color: #ffff00;*/
  /*vertical-align: middle;*/
  /*margin-top: 15px;*/
}
#page_select {
  /*background-color: #00ff00;*/
 /* vertical-align: middle;*/
}
#page-group {
  /*height: 32px;*/
  /*width: 50px;*/
  margin-right: 15px;
  /*top: 20px;*/
  /*background-color: #00ff00;*/
}

button:focus {outline:0;}
button:disabled {opacity:0.5;}

/*.enableIfSelection {
  margin-top: 11px;
  border: 0px;
  padding: 0px;
  background-color: #e6e7e8;
  height: 40px;
  width: 40px;
}
.enableIfGroupSelection {
  margin-top: 11px;
  border: 0px;
  padding: 0px;
  background-color: #e6e7e8;
  height: 40px;
  width: 40px;
}*/
.nav_bottom_btn {
  /*margin-top: 9px;*/
  border: 0px;
  /*padding: 0px;*/
  background-color: #ff8888;
}
.square_btn { 
  margin-top: 9px;
  height: 32px;
  width: 32px;
  background-color: #ff33ff;
}
.long_btn {
  height: 32px;
  width: 95px;
}

input[disabled].enableIfSelection:hover, input[disabled].enableIfSelection:active, input[disabled].enableIfSelection:focus{
  color:green;
  opacity: 0.5;
}
#undo_btn {
  background: url("../images/undo.png") no-repeat;
}
#redo_btn {
  background: url("../images/redo.png") no-repeat;
}
#move_up_btn {
  background: url("../images/shape_move_forwards.png") no-repeat;
}
/*#move_to_top_btn {
  background: url("../images/button-move-top.png") no-repeat;
}*/
#move_down_btn {
  background: url("../images/shape_move_backwards.png") no-repeat;
}
/*#move_to_bottom_btn {
  background: url("../images/button-move-bottom.png") no-repeat;
}*/
#flip_horiz_btn {
  background: url("../images/shape_flip_horizontal.png") no-repeat;
}
#flip_vert_btn {
  background: url("../images/shape_flip_vertical.png") no-repeat;
}
#straighten_btn {
  background: url("../images/shape_handles.png") no-repeat;
}

#delete_btn {
  background: url("../images/cross.png") no-repeat;
}
#add_text_btn {
  background: url("../images/button-add-text.png") no-repeat;
}

#text_align_left_btn {
  background: url("../images/text_align_left.png") no-repeat;
}
#text_align_center_btn {
  background: url("../images/text_align_center.png") no-repeat;
}
#text_align_right_btn {
  background: url("../images/text_align_right.png") no-repeat;
}
#save_btn {
  background: url("../images/diskette.png") no-repeat;
}
#import_data_btn {
  background: url("../images/shape_handles.png") no-repeat;
}

#first_btn {
  background: url("../images/document_page_first.png") no-repeat;
}
#previous_btn {
  background: url("../images/document_page_previous.png") no-repeat;
}
#next_btn {
  background: url("../images/document_page_next.png") no-repeat;
}
#last_btn {
  background: url("../images/document_page_last.png") no-repeat;
}
#page_add_btn {
  background: url("../images/page_add.png") no-repeat;
}
#page_delete_btn {
  background: url("../images/page_delete.png") no-repeat;
}

/*width of color pallete in color picker*/
.full-spectrum .sp-palette {
  max-width: 100px;
}
/*.sp-picker-container .sp-choose {
  visibility: none;
  float: right;
  margin-left:auto;
  margin-right:0;
}*/
.loader {
  position:absolute;
  /*display: inline-block;*/
  top:0px;
  left:4px;
  visibility: hidden;
  /*height:100px;
  width:100px;*/
  /*background-color: #ffff00;*/
}

svg path,
svg rect{
  fill: #000000;
}

/*nav*/
#title {
  /*color: #e6e7e8;*/
  color: #b6b7b8;
  font-size: 1em;
  letter-spacing: .2em;
  padding: 14px 0px;
  vertical-align: middle;
  display: block;
  float:left;
}
nav {
  /*background-color: #fff;*/
  /*border: 1px solid #dedede;*/
  /*border-radius: 4px;*/
  /*box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);*/
  /*color: #888;*/
  /*display: block;*/
  /*margin: 8px 22px 8px 22px;*/
  /*overflow: hidden;*/
  /*width: 90%; */
  position:relative;
  z-index:10;
  right:0px;
  display: inline-block;
  vertical-align: middle;
  float: right;
  margin: 8px 0px;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  list-style-type: none;
  
  -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s; 
}
  
nav > ul > li > a > .caret {
  border-top: 4px solid #e6e7e8;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  content: "";
  display: inline-block;
  height: 0;
  width: 0;
  vertical-align: middle;

  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  -o-transition: color 0.1s linear;
    transition: color 0.1s linear; 
}

nav > ul > li > a {
  /*color: #aaa;*/
  color: #e6e7e8;
  display: block;
  /*line-height: 56px;*/
  line-height: 30px;
  padding: 0 24px;
  text-decoration: none;
}

nav > ul > li:hover {
  /*background-color: rgb( 40, 44, 47 );*/
}

nav > ul > li:hover > a {
  color: rgb( 255, 255, 255 );
}

nav > ul > li:hover > a > .caret {
  border-top-color: rgb( 255, 255, 255 );
}

nav > ul > li > div {
  /*background-color: rgb( 40, 44, 47 );*/
  background-color: #808284;
  border-top: 0;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
  display: none;
  margin: 0;
  opacity: 0;
  position: absolute;
  width: 165px;
  visibility: hidden;

  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
}

nav > ul > li:hover > div {
  display: block;
  opacity: 1;
  visibility: visible;
}

nav > ul > li > div ul > li {
  display: block;
}

nav > ul > li > div ul > li > span{
  color: #e6e7e8;
  display: block;
  padding: 15px 15px;
  text-decoration: none;
  cursor: pointer;
}

nav > ul > li > div ul > li > a {
  color: #e6e7e8;
  display: block;
  padding: 15px 15px;
  text-decoration: none;
}

nav > ul > li > div ul > li:hover {
  background-color: rgba( 255, 255, 255, 0.1);
  color: #fff;
}

nav > ul > li > div ul > li:hover > span {
  background-color: rgba( 255, 255, 255, 0.1);
  color: #fff;
}

.ui-dialog {
  font-size:14px;
}

#overlays {
  border: 1px solid #aaaaaa;
  margin-top: 13px;
  padding: 4px;
  background-color: #fff;
  height: 200px;
  overflow-y: auto;
}
#overlay-item {
  margin-left: 7px;
  margin-top: 11px;
  background-color: #fff;
  display: inline-block;
  border: 1px solid #aaaaaa;
 /* -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.26);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.26);
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.26);*/
}